{% extends "layout2.html" %}

{% block obsah %}
    <h2>Clubs</h2>
    {% for club in clubs %}
    <div class="media" id="club_{{ club.id_club }}">
        <img  id="ImgLogo" class="rouded-circle account-img" src="{{ url_for('club_logo', id=club.Id_Club) }}" />
        <div class="media-body" id="club_media_{{ club.Id_Club }}">
            <h1>{{ club.Name }}</h1>
            <p class="text-secondary">Since: {{ club.Since }}</p>
        </div>
        <div>
            <button name="btnAdd" onclick="window.location.href='{{ url_for('createteam', clubId=club.Id_Club) }}'">Založit tým</button>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Date Of</th>
                    <th>Date To</th>
                </tr>
            </thead>
            <tbody>
                {% for team in club.teams %}
                    <tr onclick="window.location.href='{{ url_for('editteam',teamId=team.Id_Team) }}'">
                    <th scope="row">1</th>
                    <td>{{ team.Name }}</td>
                    <td>{{ team.Date_Of}}</td>
                    <td>{{ team.Date_To}}</td>
                </tr>  
                {% endfor %}               
            </tbody>
        </table>
    </div>
    {% endfor %}

<style>
    #ImgLogo {
        width: 20%;
    }
</style>

{% endblock %}
